* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  border: black solid 2px;
  border-radius: 8px;
  width: 30%;
  margin: 10rem auto;
}

.text-container {
  text-align: center;
  margin-top: 1.5rem;
}

.header {
  padding-bottom: 0.5rem;
  font-size: 44px;
}

.description {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}

.img-container {
  text-align: center;
}

.img-itself {
  width: 60%;
}

.pet-status {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn-container {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 6px;
}
